# --- Environment & Variables ---
# Stores local environment variables and secrets
.env
.env.*
.swan

# --- Python ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
.venv/git 
venv/
env/

# --- Security & Credentials ---
credentials.json
token.json

# --- Node ---
node_modules/

# --- OS Specific ---
.DS_Store
Thumbs.db